In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [8]:
#website connection
url='https://www.amazon.co.uk/Got-Data-MIS-Business-Analyst/dp/B09F319PK2/ref=sr_1_5?crid=1OWDHRO4C11SX&keywords=data%2Banalyst%2Btshirt&m=A2OAJ7377F756P&qid=1700687322&s=warehouse-deals&sprefix=data%2Banalyst%2Btshirt%2Cwarehouse-deals%2C84&sr=8-5&customId=B07536XX75&customizationToken=MC_Assembly_1%23B07536XX75&th=1'
headers= {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36"}
page=requests.get(url,headers=headers)

In [72]:
soup1=BeautifulSoup(page.content,'html.parser')
title=soup1.find(id='productTitle').get_text().strip()
price=soup1.find(class_="a-price-whole").get_text() + soup1.find(class_="a-price-fraction").get_text()
print(title)
print(price)
today=datetime.date.today()

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.95

In [74]:
import csv
header=['Title','Price','Date']
data=[title,price,today]
with open ('AmazonData.csv','w',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [75]:
df=pd.read_csv(r"C:\Users\Salman Shahzad\AmazonData.csv")
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22

In [ ]:
#append into a file
with open ('AmazonData.csv','a+',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [ ]:
# we will put all of above in one function &then put it in a timer so that It runs automatically
def append_date():
    url='https://www.amazon.co.uk/Got-Data-MIS-Business-Analyst/dp/B09F319PK2/ref=sr_1_5?crid=1OWDHRO4C11SX&keywords=data%2Banalyst%2Btshirt&m=A2OAJ7377F756P&qid=1700687322&s=warehouse-deals&sprefix=data%2Banalyst%2Btshirt%2Cwarehouse-deals%2C84&sr=8-5&customId=B07536XX75&customizationToken=MC_Assembly_1%23B07536XX75&th=1'
    headers= {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36"}
    page=requests.get(url,headers=headers)
    soup1=BeautifulSoup(page.content,'html.parser')
    title=soup1.find(id='productTitle').get_text().strip()
    price=soup1.find(class_="a-price-whole").get_text() + soup1.find(class_="a-price-fraction").get_text()
    today=datetime.date.today()
    
    import csv
    header=['Title','Price','Date']
    data=[title,price,today]
    with open ('AmazonData.csv','a+',newline='',encoding='UTF8') as f:
        writer=csv.writer(f)
        writer.writerow(data)

In [91]:
while(True):
    append_date()
    time.sleep(1)

KeyboardInterrupt:

In [92]:
df=pd.read_csv(r"C:\Users\Salman Shahzad\AmazonData.csv")
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22
1  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22
2  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22
3  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22
4  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22
5  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22
6  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22
7  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22
8  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22
9  Funny Got Data MIS Data Systems Business Analy...  16.95  2023-11-22